.main-page {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    height: fit-content;

    .share-button {
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .buttons-container{
        margin-bottom: 10px;
    }

    .about {
        opacity: 0.2;
        transition: opacity 0.3s ease-out;
        z-index: -1;
        margin-top: 40px;

        &:hover{
            opacity: 1;
        }
    }
}
