.main-page {
    height: 100%;

    .share-button {
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .buttons-container{
        margin-bottom: 10px;
    }

    .about {
        opacity: 0.2;
        transition: opacity 0.3s ease-out;
        z-index: -1;
        margin-top: 40px;

        &:hover{
            opacity: 1;
        }
    }
}
