.banner {
    font-size: 40px;
    // padding: 20px 0;
    background: #16181b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    height: 90px;

    svg {
        font-size: 30px;
    }
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;

    svg {
        font-size: 32px;
    }

    span {
        font-size: 10px;
        line-height: 10px;
        position: absolute;
        right: 38px;
        bottom: -8px;
    }
}
