.banner {
    font-size: 40px;
    padding: 20px 40px;
    background: #131115;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    svg{
        font-size: 30px;
    }
}
