.banner {
    font-size: 40px;
    padding: 20px 40px;
    background: #16181b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    svg {
        font-size: 30px;
    }
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;

    svg{
        font-size: 35px;
    }

    span {
        font-size: 12px;
        line-height: 12px;
        position: absolute;
        right: 15%;
        height: 18px;
        top: 95%;
    }
}
