.animated-background {
    background-image: linear-gradient(100deg, #171024 10%, #020513 20%, #23102c 50%, #000000 100%);
    position: fixed;
    width: 100%;
    height: 120vh;

    .planet-blob {
        // display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        filter: brightness(0.7);
        opacity: 0.7;
        pointer-events: none;
        animation: moveUpAndDown 40s infinite alternate ease-in;
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
        mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
        mask-repeat: no-repeat;

        @keyframes moveUpAndDown {
            from {
                transform: translateY(-50%);
            }
            to {
                transform: translateY(15%);
            }
        }
    }
}
