.loading {
    height: 300px;

    svg {
        height: 300px;
    }
}

.loading-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
