@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .carousel {
        width: 100%;
        overflow: hidden;
        position: relative;

        .item {
            height: fit-content;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .controls {
        display: flex;
        justify-content: space-between;
        width: 100px;
        margin-top: 10px;

        .button {
            background: none;
            border: 2px solid #ccc;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
                background: #f0f0f0;
            }
        }
    }
}
